html {
  height: 100%
}

body {
  height: 100%;
  margin: 0;
  padding: 0
}

h3 {
  margin-top: 10px;
  padding-bottom: 5px;
  position: absolute;
  top: 0;
  background-color: white;
  border-bottom: 1px dotted
}

thead td {
  font-size: 14px;
  font-weight: bolder;
}

td {
  font-size: 14px;
  border-bottom: 1px solid #ccc;
  padding: 6px 8px;
}

a {
  text-decoration: none;
  color: black;
}

.distance-labels {
  background-color: rgba(255, 255, 255, 0.8);
  font-weight: bold;
  padding: 2px;
  border: 1px solid #ccc;
}

#loading-spinner-container {
  position: relative;
}

#map-canvas {
  position: relative;
  height: 100%;
  width: 100%;
}

.theater-data-table {
  margin-top: 40px;
  margin-bottom: 30px;
  height: 100%;
  overflow: scroll;
}

#theater-info-container {
  padding-left: 30px;
  border-top: 2px solid #ccc;
  position: relative;
  width: 100%;
  background-color: white;
  background-size: cover;
  visibility: hidden;
}